* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#typed-strings {
  display: none;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.typed p {}

.highlight {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  background: #111;
}

/* blue highlights */

.highlight.blue {
  background: #0100ff;
}

/* green highlights */

.highlight.green {
  background: #00b388;
}

/* red highlights */

.highlight.red {
  background: #ff322e;
}

/* yellow highlights */

.highlight.yellow {
  background: #ffcc2f;
}

/* blue highlights */

.btn-1.blue rect {
  stroke: #0100ff;
}

/* green highlights */

.btn-1.green rect {
  stroke: #00b388;
}

/* red highlights */

.btn-1.red rect {
  stroke: #ff322e;
}

.linkedin a:hover {
  box-shadow: inset 0 0 0 4px #4875B4 !important;
}

.github a:hover {
  box-shadow: inset 0 0 0 4px #c9510c !important;
}

.codepen a:hover {
  box-shadow: inset 0 0 0 4px #ae63e4 !important;
}

.instagram a:hover {
  box-shadow: inset 0 0 0 4px #e1306c !important;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.fullscreen-bg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg iframe {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg iframe {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 480px) {
  .fullscreen-bg {
    background: url("proBG.gif") center center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fullscreen-bg iframe {
    display: none;
  }
}

.home-content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home-content h1 {
  color: white;
  padding: 0 10px;
  font: 700 70px "Fjalla One", sans-serif;
}

h2 {
  font: 700 65px "Fjalla One", sans-serif;
  color: white;
  display: block;
  margin: 0 0;
}

.home-content h3 {
  font: 22px "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: white;
  display: block;
  margin: 30px 0;
  letter-spacing: .5px;
}

span.cursor {
  font-size: 30px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttons {
  display: table;
  height: 100%;
  width: 100%;
}

.container {
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font: 16px 'Fjalla One', sans-serif;
  text-transform: uppercase;
  line-height: 45px;
  margin: 0 auto;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
}

@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin: 0 20px 20px 20px;
  }
}

.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: transparant;
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 300;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

section {
  margin: 0 auto;
}

.social-icons {
  width: 392px;
}

.ease-all {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* Social Icons */

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social li a {
  font-size: 25px;
  letter-spacing: .5px;
  display: inline-block;
  float: left;
  width: 73px;
  height: 73px;
  margin-right: 1em;
  text-align: center;
  padding-top: 22px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 40px transparent;
  -moz-box-shadow: inset 0 0 0 40px transparent;
  -o-box-shadow: inset 0 0 0 40px transparent;
  -ms-box-shadow: inset 0 0 0 40px transparent;
  box-shadow: inset 0 0 0 40px transparent;
  color: #fff;
}

.social li a:hover {
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 0 4px #fff;
  -o-box-shadow: inset 0 0 0 4px #fff;
  -ms-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
  color: #fff;
}

.tippy-popper {
  font: 20px "Fjalla One", sans-serif;
  letter-spacing: .5px;
}

@media only screen and (max-width:767px) {
  .container {
    padding: 0px;
  }
  .home-content h1 {
    font-size: 30px;
    margin: 5px 0;
  }
  .home-content h2 {
    font-size: 21px;
    margin: 0 0;
  }
  .home-content h3 {
    font-size: 14px;
    margin: 25px 5px 15px 5px;
  }
  .btn {
    font-size: 12px;
    max-width: 120px;
    display: inline-block;
    margin: 0 9px;
  }
  .btn-1:hover rect {
    stroke-dasharray: 15, 245;
  }
  .social li a {
    font-size: 24px;
    width: 60px;
    height: 60px;
    padding-top: 14px;
    margin-right: 10px;
  }
  .social-icons {
    width: 280px;
  }
}

@media only screen and (max-width:480px) {
  .btn:nth-child(3) {
    margin: 15px 9px;
  }
}
